.containerAnimais
    display: flex
    flex-direction: column

.sectionAnimais
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 7em

.divAnimal
    width: 20em
    height: 15em
    display: flex
    margin: 1em
    padding-left: 5em
    padding-right: 5em
    border-radius: 1em
    z-index: 2
    background-color: #f7e1e1

.divAnimal h1
    color: #3772FF

.divAnimal h2
    color: #737380
    font-size: 12px

.divFotoPet
    position: relative
    top: 2em
    right: 2em

.imgAnimal
    min-width: 9em
    min-height: 9em
    max-width: 9em
    max-height: 9em

.container_responsavel
    display: flex
    width: 20em
    margin-top: 2em

.container_responsavel img
    margin-right: 1em

.responsavel img:hover
    cursor: pointer

.lixeira
    width: 2em
    height: 2em
    stroke: blue
    position: relative
    top: 1em
    right: 2em

.lixeira:hover
    cursor: pointer
    transform: scale(1.1)
    transition: 300ms
    border-color: red
    stroke: blue

@media screen and (max-width: 450px)

    .divAnimal
        width: 10em

    .fotoAnimal
        position: relative
        top: 1em
        right: 2em    

    .descricao
        position: relative
        top: -1em
        right: 3em
        width: 8em

    .responsavel
        position: relative
        top: 1em
        right: 10em