.footer
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #36D6AD
    padding: 0.5em
    z-index: 1
    margin-top: 5em

.danielLogo
    width: 5em
    margin-left: -5em

@media screen and (max-width: 450px)
    .footer img
        display: none
    
    .footer
        justify-content: center

