.containerPerfil
    display: flex
    justify-content: center

.textoPerfil
    text-align: center
    color: #3772FF
    font-size: 1.5em

.perfil
    margin-top: 3em
    z-index: 1



.perfil h1
    margin-left: 1em
    color: #3772FF
    font-weight: bold
    
.perfil p
    margin-left: 2em
    font-size: 1.2em
    background-color: white
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) 
    border-radius: 6px
    padding: 1em
    width: 50vw

.perfil h2
    display: flex
    justify-content: center
    padding-bottom: 2em
    color: #737380

.fotoPerfil
    display: flex
    width: 5em
    border-radius: 100%
    cursor: pointer

.boxFoto
    display: flex
    flex-direction: column
    align-items: center

.btnEditar
    background-color: #FC7071
    color: white
    width: 200px
    height: 40px
    border: none
    border-radius: 6px
    margin-bottom: 1em
    transition: 0.5s
    z-index: 1
    margin-top: 2em
    font-size: 1.2em
    &:hover
        transform: scale(1.05)
        cursor: pointer
        &:active
            transform: scale(0.95)
            cursor: pointer

.btn
    display: flex
    justify-content: center