.pageNotFound
    display: flex
    justify-content: center
    min-height: 85vh
    
.notFound
    margin-top: 1em
    height: 25em
    width: 25em

.btnVoltar
    background-color: #FC7071
    color: white
    width: 100px
    height: 40px
    border: none 
    border-radius: 6px
    margin-bottom: 1em
    transition: 0.5s
    z-index: 1
    margin-top: 2em
    position: absolute
    bottom: 8vw
    left: 45vw

.btnVoltar:hover
    transform: scale(1.05)
    cursor: pointer

.btnVoltar:active
    transform: scale(0.95)
    cursor: pointer