.container
    display: flex

#nomePet, #idade, #porte, #descricao, #localizacao, #responsavel, #whats
    width: 20vw
    margin: 1em

.imgPet
    width: 6em
    height: 6em
    border-radius: 50em

.btnCarregarImg
    align-self: center
    padding: 0.5em
    margin-right: 2em

.btnCadastrar
    font-size: 1.3em

.container_cadastro
    margin-top: 4em